*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4d6aeb 0%, #81bee7 100%);
}

.login-card {
    background-color: white;
    padding: 100px;
    
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    max-width: 600px;
    position: absolute;
    left: 1320px;
}
    
#imagem-centralizada{
    display:block;
    margin-left: 0;
    margin-right: auto;
    scale: 1.191;
}

.logo{
    width:80px;
    display: block;
    margin:0 auto 20px auto;
}

#logosenai{
    position: absolute;
    top: 500px;
    left: 1470px;
}

*/cadastro*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d2b68;
}

#form_container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0px 10px 15px -3px rgba(0, 0, 0, 0.555) ;
}

#form_header{
    display: flex;
    justify-content: space-between;
}

.btn-default{
    background-color: #1d2b68;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    color:#ffffff;
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow:0px 10px 15px -3px rgba(0, 0, 0, 0.555)  ;
    transition: background-color 0.3s ease;
}

.btn-default:hover{
    background-color: #4d6aeb;
}

*/estoque*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background-color: #1d2b68;
}

input{
    padding: 8px;
}
button{
    padding: 8px;
}
table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
/* NAVBAR */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d2b68;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    background-color: #333;
    padding: 15px;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    display: inline;
    margin-right: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: yellow;
}