<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

    <!-- Navbar do Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Sistema Fiep</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
            </li>

            <li class="nav-item">
                 <a class="nav-link" href="{{ url_for('estoque') }}">Cadastrar</a>
             </li>

            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('index') }}">Sair</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- Fim da Navbar -->

     <div class="container mt-4">
        <table class="table table-striped table-hover align-middle shadow-sm" id="tabela-linda">
           <table class="table">

    <thead>
        <tr>
            <th>Produtos</th>
            <th>Quantidade</th>
            <th class="text-center" style="width:180px;">ver produto</th>
        </tr>
    </thead>

    <tbody>

        {% for produto in produtos %}

        <tr>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
        

        <td class="text-center align-middle">
    <button class="btn btn-primary btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#modalFoto{{ produto[0] }}">
       📷
    </button>
</td>
        </tr>

       {% endfor %}

    </tbody>
  </table>
</div>

{% for produto in produtos %}

<div class="modal fade" id="modalFoto{{ produto[0] }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Foto de {{ produto[1] }}</h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body text-center">

    {% if produto[3] %}

        <img
            src="{{ url_for('static', filename='image/' + produto[3]) }}"
            alt="Foto do produto"
            style="max-width: 100%; max-height: 300px;">

    {% else %}

        <p>Este produto não possui foto cadastrada.</p>

    {% endif %}

</div>
        </div>
    </div>
</div>

{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>